.header
	width: 100%
	background-color: #282828
	border-bottom: 2px solid #000

	&.fixed
		z-index: 10
		position: fixed
		top: 0
		left: 0

	&__container
		max-width: 1200px
		margin: 0px auto
		padding: 45px 15px
		display: flex
		align-items: center
		justify-content: space-between
		min-height: 70px
		@media (max-width: $md)
			padding: 20px 15px
		@media (max-width: $xs)
			flex-direction: column

	&__logo
		z-index: 5
		display: block
		@media (max-width: $xs)
			margin-bottom: 10px

.logo__img
	width: 250px
	height: auto
	fill: $white
	@media (max-width: $md)
		width: 200px

.social

	&__link
		margin-right: 30px
		&:last-child
			margin: 0
		@media (max-width: $md)
			margin-right: 15px

	&__icon
		width: 50px
		transition: all .3s
		&:hover
			transform: scale(1.1)
			opacity: 0.9
		@media (max-width: $md)
			width: 35px

@media (min-width: $md)

	.menu__list
		display: flex
		align-items: center

	.menu__item
		padding: 10px 0
