<header class="header">
	<div class="header__container">
		<a href="#" class="header__logo logo">
			<img class="logo__img" src="@img/header/logo.svg" alt="Logo">
		</a>
		<div class="header__menu menu">
			<div class="menu__social social">
				<a href="https://www.youtube.com/channel/UClrv09iKNj86ggMrPu9J-fg" class="social__link" target="_blank">
					<img class="social__icon" src="@img/header/youtube.svg" alt="YouTube">
				</a>
				<a href="https://t.me/info_coder" class="social__link" target="_blank">
					<img class="social__icon" src="@img/header/telegram.svg" alt="Telegram">
				</a>
				<a href="https://vk.com/info_coder" class="social__link" target="_blank">
					<img class="social__icon" src="@img/header/vk.svg" alt="VK">
				</a>
			</div>
		</div>
	</div>
</header>